---
---

@import 'bourbon/bourbon';

/*========== BEGIN SASS STUFF ==========*/

	/*== SASS VARIABLES ==*/
        
        /*= color variables =*/

        $outrageousOrange:  #FF6138;
        $paleCanary:        #FFFF9D;
        $caper:             #BEEB9F;
        $deYork:            #79BD8F;
        $persianGreen:      #00A388;
        $darkGray:          #3D3D3D;		


		/*= other variables =*/
		$defaultPadding:        100px;
        $defaultMargin:         80px;  
        $defaultBoxShadow:      0px 2px 10px 2px rgba(0,0,0,0.1);
        $defaultRoundedCorner:  15px;
        $primaryFontStack:      'Nunito', sans-serif;
        $secondaryFontStack:    'Alegreya', serif;


	/*== SASS MIX-INS ==*/

    @mixin hoverAnimation($backgroundColor, $timing) {
        background-color: $backgroundColor;
        transition: background $timing ease 0s;
    }

    @mixin shadowHoverAnimation($boxShadow, $timing) {
        box-shadow: $boxShadow;
        transition: background $timing ease 0s;
    }

/*========== BEGIN OTHER STYLING STUFF ==========*/


/*===== GLOBAL STYLES =====*/

body {
    font-family: $primaryFontStack;
    color: $darkGray;
}

.container-full { /* sets a new container which spans the entire body */
    margin: 0 auto;
    margin-top: -20px; /* fixes alignment with navbar */
    width: 100%;
}

.row {
    padding:        $defaultPadding/2 $defaultPadding $defaultPadding $defaultPadding;
    margin-left:    0px;
    margin-right:   0px;
}

    .row span { /* centers and limits width of contents to 960px */
        display:    block;
        margin:     0 auto;
        max-width:  960px;
    }

p { /* paragraph styles */
    font-family:    $secondaryFontStack;
    font-size:      22px;
    line-height:    140%;
    color:          lighten($darkGray, 20%);
    margin-top:     $defaultMargin/4;
}

    .col-sm-4 p {
        font-size: 17px;
    }

.subtitle {
    margin-top:     $defaultMargin/8; /* makes margin different from typical paragraphs */
    font-size:      1.25em;
    font-weight:    300;
    padding-top:    .5em;
    border-top:     1px solid;
    text-transform: uppercase;
    color:          lighten($darkGray, 20%);
}

ul {
    
}

    ul li {
        font-family:    $secondaryFontStack;
        font-size:      1.1em;
        text-transform: uppercase;
        display:        block;
        list-style:     none;
        margin-left:    -40px; /* aligns list left with container */
        padding:        5px 0px 5px 0px;
    }

.btn {
    text-transform:     uppercase;
    border-radius:      20px;
    line-height:        20px;
    padding-left:       20px;
    padding-right:      20px;
}

    .btn.btn-primary {
        background: $deYork;
        border:     1px solid $deYork;
        box-shadow: $defaultBoxShadow;
    }

/*===== HEADER HIERARCHY =====*/

h1 {
    font-size:      3.5em;
    color:          $outrageousOrange;
}

h2 {
    font-size:      2.75em;
    font-weight:    300;
}

h3 {
    font-size:      2em;
    margin-top:     $defaultMargin/4;
}

h4 {
    font-size:      1.25em;
    text-transform: uppercase;
}

h5 {
    color:          $deYork;
    font-weight:    700;
    text-transform: uppercase;
}

/*===== NAVBAR STYLES =====*/

.container-fluid span { /* makes everything fit in to 960px like the rest of the site */
    display: block;
    margin: 0 auto;
    max-width: 960px;
}

.navbar {
	background: url(/images/concrete_deyork.png);
	color: white;
    border: none;
	box-shadow: $defaultBoxShadow;
	border-radius: 0px; /* removes rounded corners */
}

	.navbar-default .navbar-nav > li > a { /* styling navbar nav */
		color: white;
        text-transform: uppercase;
		padding-top: 40px;
	}

        .navbar .navbar-nav > li > a.comment {
            background:         url(/images/comment.svg) no-repeat center 15%;
            background-size:    22%;
        }

            /*= navbar comment hover =*/
            .navbar .navbar-nav > li > a.comment:hover {
                background:         url(/images/comment.svg) no-repeat center 15% $deYork;
                background-size:    22%;
            }

        .navbar .navbar-nav > li > a.tag {
            background:         url(/images/tag.svg) no-repeat center 15%;
            background-size:    22%;
        }
            
            /*= navbar tag hover =*/
            .navbar .navbar-nav > li > a.tag:hover {
                background:         url(/images/tag.svg) no-repeat center 11% $deYork;
                background-size:    22%;
        }
            

        .navbar .navbar-nav > li > a.profile {
            background:         url(/images/profile.svg) no-repeat center 15%;
            background-size:    22%;
        }

            /*= navbar profile hover =*/
            .navbar .navbar-nav > li > a.profile:hover {
                background:         url(/images/profile.svg) no-repeat center 11% $deYork;
                background-size:    22%;
            }

		.navbar-default .navbar-nav > li > a:hover { /* styling hover for navbar nav */
            background-color:       $deYork;
			color:                  white;
            //box-shadow:             0px 0px 10px 1px rgba(70,138,92,.5);
            box-shadow:             0px 0px 30px 1px rgba(0,0,0,.1);
            text-shadow:            1px 1px $persianGreen;
            transition:             all .5s ease;
            transition-property:    background, box-shadow, text-shadow;
		}

.navbar-brand {
	background-image:          url(logo.svg);
	background-repeat:         no-repeat;
	display:                   block;
    padding-top:               40px;
	width:                     280px;
	background-position:       50%;
	background-size:           80%;
}

	.navbar-brand span { /* hides text */
		color:        white;
	}

/*===== SECTION STYLES =====*/

/*=== JUMBOTRON ROW ===*/

.jumbotron.row {
    padding:                $defaultPadding; /* adds extra padding to the top for .jumbotron.row */
    color:                  white;
    background:             url(/images/jumbotron-3.jpg) $darkGray;
    background-size:        100%;
}

    .jumbotron h1 {
        font-size:      3.5em;
        text-shadow:    4px 4px 4px rgba(0,0,0,.1);
    }

    .jumbotron .subtitle {
        color:          white;
    }

    @include keyframes(shrink) {
        from {  @include transform(scale(1.1))  }
        to   {  @include transform(scale(1))    }
    }

    .jumbotron.row .btn {
        margin-top:         $defaultMargin/4;
        color:              white;
        background:         $outrageousOrange;
        border-color:       $outrageousOrange;
        @include animation(shrink .2s ease-in);
    }

    @include keyframes(scale) {
        from {  @include transform(scale(1))   }
        to {    @include transform(scale(1.1))  }
    }

        .jumbotron.row .btn:hover {
            color:              white;
            @include linear-gradient(darken($outrageousOrange, 5%), darken($outrageousOrange, 10%));
            border-color:       darken($outrageousOrange,10%);
            @include animation(scale 0.4s ease-in);
            @include animation-delay(.3s);
            @include animation-duration(.3s);
            @include animation-fill-mode(forwards);
        }

/*=== ACCESS ROW ===*/

.access.row {
    margin-top: -30px; /* aligns row appropriately w/ .jumbotron */
}

/*=== ASIDE and ASIDE ROW ===*/

aside {
    padding:        $defaultPadding/4 $defaultPadding/4 $defaultPadding/2 $defaultPadding/4;
    @include linear-gradient(darken($deYork, 5%), $deYork);
}

    aside h2,
    aside h3,
    aside ul,
    aside a,
    aside .btn {
        color:          white;
        text-shadow:    1px 1px $persianGreen;
    }

    aside .subtitle {
        color:  $persianGreen;
    }

    aside label {
        font-family:    $secondaryFontStack;
        color:          white;
        text-shadow:    1px 1px $persianGreen;
        margin-top:     $defaultMargin/4;
    }

    aside select {
    }

    aside .btn {
        color:          white;
        background:     $caper;
    }

    form.county-select {
        font-size:          1.2em;
    }

        form.county-select > label {
            font-family:    $primaryFontStack;
        }

        form.county-select > select {
            font-family:    $secondaryFontStack;
            font-weight:    700;
            width:          100%;
        }

        form.county-select input {
            margin-top:     $defaultMargin/4;
        }

/*=== EXPOSITION ROW ===*/

.exposition.row {
    
}

    .exposition.row .col-sm-4 {
        
    }

        /*= SVG Icons - svgicons.sparkk.fr =*/
        .svg-icon {
            @include size(200px);
        }

            .svg-icon path {
                @include size(150px);
                font-size: 1340134px;
            }

        .svg-icon path,
        .svg-icon polygon,
        .svg-icon rect {
            fill:       $outrageousOrange;

        }

        .svg-icon circle {
            stroke:         #4691f6;
            stroke-width:   1;
        }

        .exposition.row .btn {
            color:          white;
            background:     $deYork;
            border-color:   $deYork;
            margin-top:     $defaultMargin/4;
        }

/*=== BIO ROW ===*/

.bio.row {
    background:     $darkGray;
    color:          white !important;
}

    .bio.row .img-circle {
        
    }

    .bio.row p {
        color:      white;
    }

    .bio.row p.subtitle {
        color:      lighten($darkGray, 20%);
    }

/*===== FOOTER STYLES =====*/

footer {

}

    footer .primary {
        background: darken($darkGray, 5%);
    }

    footer .secondary {
        background: darken($darkGray, 10%);
    }

/*** BEGIN MEDIA QUERIES ***/

/* Smallest devices (phone, 768px and below) */
@media (max-width: 768px) {
    
    .jumbotron h1 {
        font-size:      2.5em;
    }
    
    h2 {
        font-size:      2em;
    }
    
    h3 {
        font-size:      1.5em;
    }
    
    .navbar-brand {
        padding-top:    5px;
        max-width:      200px;
    }
    
    .row,
    .jumbotron.row {
        padding:        $defaultPadding/2 $defaultPadding/4 $defaultPadding/2 $defaultPadding/4;
    }    
    
    .exposition.row .col-sm-4 {
        text-align: center;
    }
   
}

/* Small devices (tablets, 768px to 992px) */ 
@media (min-width: 768px) and (max-width: 992px) {

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1200px) {
    
    
    
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    
    

}