/*
---
---
commented out for PrePros*/

/* importing Bourbon */
@import 'bourbon/bourbon';
/* importing Bourbon Neat */
@import 'neat/neat';
/* importing hover.scss */
@import 'hover/hover';
/* importing misc. variables */
@import 'vars/_vars';
/* importing color variables */
@import 'vars/_colors';
/* importing sections index */
@import 'sections/-sections-index';

	/*== SASS MIX-INS ==*/

    @mixin hoverAnimation($backgroundColor, $timing) {
        background-color: $backgroundColor;
        transition: background $timing ease 0s;
    }

    @mixin shadowHoverAnimation($boxShadow, $timing) {
        box-shadow: $boxShadow;
        transition: background $timing ease 0s;
    }

/*===== GLOBAL STYLES =====*/

body {
    font-family: $primaryFontStack;
    color: $darkGray;
    overflow-x:   hidden;
}

.container-full { /* sets a new container which spans the entire body */
    margin: 0 auto;
    margin-top: -20px; /* fixes alignment with navbar */
    width: 100%;
    
}

.row {
    padding:        $defaultPadding $defaultPadding $defaultPadding $defaultPadding;
    margin-left:    0px;
    margin-right:   0px;
}

    .row span { /* centers and limits width of contents to 960px */
        display:    block;
        margin:     0 auto;
        @include outer-container; /* sets .row span as container for Neat grid */
    }

a {
    
}

    a:hover {
        text-decoration: none;
    }

p { /* paragraph styles */
    font-family:    $secondaryFontStack;
    font-size:      22px;
    line-height:    140%;
    color:          lighten($darkGray, 20%);
    margin-bottom:  $defaultMargin/4;
}

    .col-sm-4 p {
        font-size: 20px;
    }

p.subtitle {
    margin-top:     0px; /* makes margin different from typical paragraphs */
    font-size:      1.25em;
    font-weight:    300;
    padding-top:    .5em;
    border-top:     1px solid;
    text-transform: uppercase;
    color:          lighten($darkGray, 20%);
}


ul {
    
} 

.btn {
    display:            inline-block;
    text-transform:     uppercase;
    border-radius:      20px;
    line-height:        20px;
    margin-top:         $defaultMargin;
    padding:            10px 20px 10px 20px;
    @include bounce-out();
}
    .btn:hover {
        @include grow();
        transition: all .5s;
    }

    .btn.btn-primary {
        background: $deYork;
        border:     1px solid $deYork;
        box-shadow: $defaultBoxShadow;
    }


/*===== HEADER HIERARCHY =====*/

h1 {
    font-size:      3.5em;
    color:          $outrageousOrange;
}

h2 {
    font-size:      2.75em;
    font-weight:    300;
}

h3 {
    font-size:      2em;
    font-color:     $darkGray;
    margin-bottom:  10px;
    line-height:    130%;
}

h4 {
    font-size:      1.25em;
    text-transform: uppercase;
}

h5 {
    color:          $deYork;
    font-weight:    700;
    text-transform: uppercase;
}


/*=== BEGIN GLOBAL MEDIA QUERIES ===*/

/* Smallest devices (phone, 768px and below) */
@media (max-width: 768px) {
    
    p {
        font-size:      17px;
        line-height:    150%;
    }
    
        p.subtitle {
            margin-top: 20px;
        }
    
    h2 {
        font-size:      2em;
        line-height:    120%;
    }
    
    h3 {
        font-size:      1.5em;
    }
    
    .navbar-brand {
        padding-top:    5px;
        max-width:      200px;
    }
    
    .row,
    .jumbotron.row {
        padding:        $defaultPadding/2 $defaultPadding/4 $defaultPadding/2 $defaultPadding/4;
    }
    
    .btn {
        width:          100%;
        text-align:     center;
    }
    
}

/* Small devices (tablets, 768px to 992px) */ 
@media (min-width: 768px) and (max-width: 992px) {

    h3 {
        font-size:      1.5em;
        line-height:    130%;
    }

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1200px) {
    
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    
}