/*========== BEGIN SASS STUFF ==========*/
/*== SASS VARIABLES ==*/
/*= color variables =*/
/*= other variables =*/
/*== SASS MIX-INS ==*/
/*========== BEGIN OTHER STYLING STUFF ==========*/
/*===== GLOBAL STYLES =====*/
body {
  font-family: 'Nunito', sans-serif;
  color: #3d3d3d;
}

.container-full {
  /* sets a new container which spans the entire body */
  margin: 0 auto;
  margin-top: -20px;
  /* fixes alignment with navbar */
  width: 100%;
}

.row {
  padding: 60px 40px 60px 40px;
  margin-left: 0px;
  margin-right: 0px;
}

.row span {
  /* centers and limits width of contents to 960px */
  display: block;
  margin: 0 auto;
  max-width: 960px;
}

.jumbotron.row {
  color: white;
  background: #3d3d3d;
}

p {
  /* paragraph styles */
  font-size: 16px;
  color: #707070;
}

.exposition.row .col-sm-4 {
  padding-top: 120px;
}

/*===== HEADER HIERARCHY =====*/
h1 {
  font-size: 4em;
  color: #ff6138;
}

h2 {
  font-size: 3em;
  font-weight: 700;
}

h3 {
  font-size: 2.5em;
  font-weight: 300;
}

h4 {
  font-size: 1.5em;
  text-transform: uppercase;
}

h5 {
  color: #79bd8f;
  font-weight: 700;
  text-transform: uppercase;
}

/*===== NAVBAR STYLES =====*/
.container-fluid span {
  /* makes everything fit in to 960px like the rest of the site */
  display: block;
  margin: 0 auto;
  max-width: 960px;
}

.navbar {
  background: #79bd8f;
  color: white;
  border: none;
  box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.05);
  border-radius: 0px;
  /* removes rounded corners */
}

.navbar-default .navbar-nav > li > a {
  /* styling navbar nav */
  color: white;
  padding-left: 40px;
}

.navbar-default .navbar-nav > li > a:hover {
  /* styling hover for navbar nav */
  color: white;
  background: #458b5c;
  background-color: #458b5c;
  transition: background 0.3s ease 0s;
}

.navbar-brand {
  background-image: url(logo.svg);
  background-repeat: no-repeat;
  display: block;
  width: 200px;
  background-position: 50%;
  background-size: 80%;
}

.navbar-brand span {
  /* hides text */
  color: white;
}

/*===== FOOTER STYLES =====*/
footer .primary {
  background: #3d3d3d;
}

footer .secondary {
  background: #0a0a0a;
}

/*** BEGIN MEDIA QUERIES ***/
/* Smallest devices (phone, 768px and below) */
@media (max-width: 768px) {
  h1 {
    font-size: 3em;
  }
}
/* Small devices (tablets, 768px to 992px) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
