/*========== BEGIN SASS STUFF ==========*/
/*== SASS VARIABLES ==*/
/*= color variables =*/
/*= other variables =*/
/*== SASS MIX-INS ==*/
/*========== BEGIN OTHER STYLING STUFF ==========*/
/*===== GLOBAL STYLES =====*/
body {
  font-family: "Nunito", sans-serif;
  color: #3d3d3d;
}

.container-full {
  /* sets a new container which spans the entire body */
  margin: 0 auto;
  margin-top: -20px;
  /* fixes alignment with navbar */
  width: 100%;
}

.row {
  padding: 50px 100px 100px 100px;
  margin-left: 0px;
  margin-right: 0px;
}

.row span {
  /* centers and limits width of contents to 960px */
  display: block;
  margin: 0 auto;
  max-width: 960px;
}

p {
  /* paragraph styles */
  font-family: "Alegreya", serif;
  font-size: 18px;
  color: #707070;
  margin-top: 20px;
}

.subtitle {
  margin-top: 10px;
  /* makes margin different from typical paragraphs */
  font-size: 1em;
  font-weight: 300;
  padding-top: .5em;
  border-top: 1px solid;
  text-transform: uppercase;
}

.btn {
  text-transform: uppercase;
  border-radius: 20px;
  line-height: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.btn.btn-primary {
  background: #79bd8f;
  border: 1px solid #79bd8f;
  box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.1);
}

/*===== HEADER HIERARCHY =====*/
h1 {
  font-size: 3.5em;
  color: #ff6138;
}

h2 {
  font-size: 2.75em;
  font-weight: 300;
}

h3 {
  font-size: 1.75em;
  margin-top: 20px;
}

h4 {
  font-size: 1.25em;
  text-transform: uppercase;
}

h5 {
  color: #79bd8f;
  font-weight: 700;
  text-transform: uppercase;
}

/*===== NAVBAR STYLES =====*/
.container-fluid span {
  /* makes everything fit in to 960px like the rest of the site */
  display: block;
  margin: 0 auto;
  max-width: 960px;
}

.navbar {
  background: url(images/concrete_deyork.png);
  color: white;
  border: none;
  box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.1);
  border-radius: 0px;
  /* removes rounded corners */
}

.navbar-default .navbar-nav > li > a {
  /* styling navbar nav */
  color: white;
  text-transform: uppercase;
  padding-top: 40px;
}

.navbar .navbar-nav > li > a.comment {
  background: url(images/comment.svg) no-repeat center 15%;
  background-size: 22%;
}

/*= navbar comment hover =*/
.navbar .navbar-nav > li > a.comment:hover {
  background: url(images/comment.svg) no-repeat center 11% #79bd8f;
  background-size: 22%;
}

.navbar .navbar-nav > li > a.tag {
  background: url(images/tag.svg) no-repeat center 15%;
  background-size: 22%;
}

/*= navbar tag hover =*/
.navbar .navbar-nav > li > a.tag:hover {
  background: url(images/tag.svg) no-repeat center 11% #79bd8f;
  background-size: 22%;
}

.navbar .navbar-nav > li > a.profile {
  background: url(images/profile.svg) no-repeat center 15%;
  background-size: 22%;
}

/*= navbar profile hover =*/
.navbar .navbar-nav > li > a.profile:hover {
  background: url(images/profile.svg) no-repeat center 11% #79bd8f;
  background-size: 22%;
}

.navbar-default .navbar-nav > li > a:hover {
  /* styling hover for navbar nav */
  background-color: #79bd8f;
  color: white;
  box-shadow: 0px 0px 30px 1px rgba(0, 0, 0, 0.1);
  text-shadow: 1px 1px #00a388;
  transition: all .5s ease;
  transition-property: background, box-shadow, text-shadow;
}

.navbar-brand {
  background-image: url(logo.svg);
  background-repeat: no-repeat;
  display: block;
  padding-top: 40px;
  width: 280px;
  background-position: 50%;
  background-size: 80%;
}

.navbar-brand span {
  /* hides text */
  color: white;
}

/*===== SECTION STYLES =====*/
/*=== JUMBOTRON ROW ===*/
.jumbotron.row {
  padding: 100px;
  /* adds extra padding to the top for .jumbotron.row */
  color: white;
  background: url(images/jumbotron-3.jpg) #3d3d3d;
  background-size: 100%;
}

.jumbotron h1 {
  font-size: 3.5em;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
}

.jumbotron .subtitle {
  color: white;
}

.jumbotron.row .btn {
  margin-top: 20px;
  color: white;
  background-color: #ff6138;
  border-color: #ff6138;
}

.jumbotron.row .btn:hover {
  color: white;
  background-color: #ff3905;
  border-color: #ff3905;
  transition: background-color .5s, border-color .5s;
}

/*=== ACCESS ROW ===*/
.access.row {
  margin-top: -30px;
  /* aligns row appropriately w/ .jumbotron */
}

aside {
  padding: 50px 25px 50px 25px;
  background: #79bd8f;
}

aside h2,
aside .btn {
  color: white;
  text-shadow: 1px 1px #00a388;
}

aside .subtitle {
  color: #00a388;
}

aside label {
  font-family: "Alegreya", serif;
  color: white;
  text-shadow: 1px 1px #00a388;
  margin-top: 20px;
}

aside .btn {
  color: white;
  background: #beeb9f;
}

form.county-select > select {
  font-family: "Alegreya", serif;
  font-weight: 700;
  width: 100%;
}

form.county-select input {
  margin-top: 20px;
}

/*=== EXPOSITION ROW ===*/
/*= SVG Icons - svgicons.sparkk.fr =*/
.svg-icon {
  width: 50%;
  height: 50%;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #ff6138;
}

.svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
}

.exposition.row .btn {
  color: white;
  background: #79bd8f;
  border-color: #79bd8f;
}

/*===== FOOTER STYLES =====*/
footer .primary {
  background: #3d3d3d;
}

footer .secondary {
  background: #242424;
}

/*** BEGIN MEDIA QUERIES ***/
/* Smallest devices (phone, 768px and below) */
@media (max-width: 768px) {
  .jumbotron h1 {
    font-size: 2.5em;
  }

  h2 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.5em;
  }

  .navbar-brand {
    padding-top: 5px;
    max-width: 200px;
  }

  .row,
  .jumbotron.row {
    padding: 50px 25px 50px 25px;
  }

  .exposition.row .col-sm-4 {
    text-align: center;
  }
}
/* Small devices (tablets, 768px to 992px) */
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1200px) {
  aside {
    margin-top: -50px;
  }
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  aside {
    margin-top: -50px;
  }
}
