/*== SASS COLOR VARIABLES ==*/
        
$outrageousOrange:  #FF6138;
$paleCanary:        #FFFF9D;
$caper:             #BEEB9F;
$deYork:            #79BD8F;
$persianGreen:      #00A388;
$darkGray:          #3D3D3D;		
