/*=== ASIDE and ASIDE ROW ===*/

aside {
    @include linear-gradient(darken($deYork, 5%), $deYork);
}

    aside h2,
    aside h3,
    aside ul,
    aside a,
    aside .btn {
        color:          white;
        text-shadow:    1px 1px $persianGreen;
    }

    aside .subtitle {
        color:          $caper !important;
        text-shadow:    1px 1px $persianGreen;
    }

    aside label {
        font-family:    $secondaryFontStack;
        color:          white;
        text-shadow:    1px 1px $persianGreen;
        margin-top:     $defaultMargin/4;
    }

    aside select {
    }

    aside .btn {
        color:          white;
        background:     $caper;
    }

    form.county-select {
        @include span-columns(7);
        font-size:          1.2em;
    }

        form.county-select > label {
            font-family:    $primaryFontStack;
        }

        form.county-select > select {
            font-family:    $secondaryFontStack;
            font-weight:    700;
            width:          100%;
        }

        form.county-select > .submit.btn {
            display:        block;
            cursor:         pointer;
            border:         none !important;
            padding:        10px 20px 10px 20px !important;
            margin-top:     $defaultMargin/4 !important;
        }

    .results {
        padding:            $defaultPadding/2;
        position:           absolute;
        width:              40%;
        border-radius:      60px 0px 0px 60px;
        display:            block;
        left:               100%; /* moves to 60% onclick */
        color:              white;
        background:         $darkGray;
        transition:         all .3s linear;
    }

/*=== BEGIN GLOBAL MEDIA QUERIES ===*/

/* Smallest devices (phone, 768px and below) */
@media (max-width: 768px) {
    
    aside {
        transition:         all .3s linear;
        z-index:            5;
    }
    
        form.county-select {
            @include span-columns(12);
        }

        form.county-select > .submit.btn {
            width:      100%;
            text-align: center;
        }
    
    .results {
        position:           absolute;
        z-index:            -1;
        width:              100%;
        padding:            40px;
        margin-top:         0px;
        left:               0%;
        border-radius:      0px 0px 20px 20px;
        transition:         display .3s linear;
    }
    
}

/* Small devices (tablets, 768px to 992px) */ 
@media (min-width: 768px) and (max-width: 992px) {


}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1200px) {
    
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    
}