/*=== ASIDE and ASIDE ROW ===*/

aside {
    @include linear-gradient(darken($deYork, 5%), $deYork);
    @include clearfix();
}

    aside h2,
    aside h3,
    aside ul,
    aside a,
    aside .btn {
        color:          white;
        text-shadow:    1px 1px $persianGreen;
    }

    aside .subtitle {
        color:          $caper !important;
        text-shadow:    1px 1px $persianGreen;
    }

    aside label {
        font-family:    $secondaryFontStack;
        color:          white;
        text-shadow:    1px 1px $persianGreen;
        margin-top:     $defaultMargin/4;
    }

    aside select {
    }

    aside .btn {
        color:          white;
        background:     $caper;
    }

    form.county-select {
        width:              100%;
        font-size:          1.2em;
    }

        form.county-select > label {
            font-family:    $primaryFontStack;
        }

        form.county-select > select {
            font-family:    $secondaryFontStack;
            font-weight:    700;
            width:          100%;
        }

        form.county-select > .submit.btn {
            display:        block;
            cursor:         pointer;
            border:         none !important;
            padding:        10px 20px 10px 20px !important;
            margin-top:     $defaultMargin/4 !important;
        }

    .county.wrapper {
        display:            block;
        overflow-x:         hidden;
        width:              200%;
        transition:         all .5s linear;
    }
    .pick-a-county {
        width:              50%;
        float:              left;
    }

    .results {
        @include span-columns(12);
        padding:            $defaultPadding/2;
        position:           relative;
        width:              50%;
        display:            inline-block;
        left:               0%; /* moves to -100% onclick */
        color:              white;
        background:         $darkGray;
    }

        .results img {
            float:              right;
            display:        block;
            background:     white;
            border-radius:  50%;
            padding:        20px;
            @include size(200px);
            margin-left:    auto;
            margin-right:   auto;
        }

        .results a {
            font-size:          1.2em;
            display:            block;
            transition:         all .3s;
        }

            .results a.website,
            .results a.phone {
                display:        block;
                color:          $caper;
            }
                
                .results a.website:hover,
                .results a.phone:hover {
                    color:      darken($caper, 10%);
                    transition: all .3s;
                }

        .results h3,
        .results p {
            text-shadow:        none !important;
        }

        .results .btn {
            display:    inline-block;
            cursor:     pointer;
        }


/*=== BEGIN GLOBAL MEDIA QUERIES ===*/

/* Smallest devices (phone, 768px and below) */
@media (max-width: 768px) {
    
    aside {
        transition:         all .3s linear;
    }
    
        form.county-select {
            @include span-columns(12);
        }

        form.county-select > .submit.btn {
            width:      100%;
            text-align: center;
        }
    
    .results {
        text-align:     center;
    }
    
        .results img { /* hides image of mco region for smallest screen sizes */
            display:    none;
        }
        
        .results .name {
            margin-bottom:  40px;
        }

        .results .phone,
        .results .website {
            margin-bottom:     20px;
        }
    
}

/* Small devices (tablets, 768px to 992px) */ 
@media (min-width: 768px) and (max-width: 992px) {


}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1200px) {
    
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    
}