/*=== BIO ROW ===*/

.bio.row {
    background:     $darkGray;
    color:          white !important;
}

    .bio.row .img-circle {
        @include span-columns(3);
    }

    .bio.row .col-span-9 {
        @include span-columns(9);
    }

        .bio.row p {
            color:      white;
        }

        .bio.row p.subtitle {
            color:      lighten($darkGray, 20%);
        }