/*=== EXPOSITION ROW ===*/

.exposition.row {
    padding-top: 0px !important;
}

    .exposition.row .col-sm-4 {
        @include span-columns(4);
        text-align:     center;
        @include clearfix();
    }
    
        .exposition img {
            display:            inline-block;
            margin-bottom:       20px;
            @include size(150px);
            background-size:    cover;
        }

        .exposition.row p {
            font-size:      1.4em;
            line-height:    150%;
            color:          lighten($darkGray, 40%);
        }

        .exposition.row .btn {
            color:          white;
            background:     $deYork;
            border-color:   $deYork;
            margin-top:     $defaultMargin/10;
            margin-left:    auto;
            margin-right:   auto;
        }

/*=== BEGIN GLOBAL MEDIA QUERIES ===*/

/* Smallest devices (phone, 768px and below) */
@media (max-width: 768px) {
     
    .exposition.row .col-sm-4 {
        text-align: center;
        @include span-columns(12);
        margin-bottom: $defaultMargin/2;
    }
   
}

/* Small devices (tablets, 768px to 992px) */ 
@media (min-width: 768px) and (max-width: 992px) {

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1200px) {
    
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    
}