
/*===== FOOTER STYLES =====*/

footer {
    color:  white;
}

    footer .col-span-4 {
        @include span-columns(4);
    }

        footer a,
        footer h5,
        footer p {
            color:  white;
        }

        footer h5 {
            padding-left:   40px;
        }

            h5.comment {
                background:         url(/images/comment.svg) no-repeat;
                background-size:    25px;
            }

            h5.tag {
                background:         url(/images/tag.svg) no-repeat;
                background-size:    25px;
            }

            h5.profile {
                background:         url(/images/profile.svg) no-repeat;
                background-size:    25px;
            }
        
        footer p {
            font-size:      1.5em;
        }

            footer p#back-to-the-top {
                float:  left;
            }

            footer p#legal {
                float:  right;
            }

        footer ul {
            margin-top: $defaultMargin/4;
            border-top: 1px solid rgba(255,255,255,.2);
        }

            footer ul li {
                list-style:     none;
            }

                footer ul li a {
                    display:        block;
                    color:          white;
                    border-bottom:  1px solid rgba(255,255,255,.2);
                    padding:        10px;
                }

                    footer ul li a:hover {
                        color:      rgba(255,255,255,.7);
                        background: rgba(0,0,0,.2);  
                    }

    footer .primary {
        background: darken($darkGray, 5%);
    }

    footer .secondary.row {
        background:     darken($darkGray, 10%);
        padding-top:    30px;
        padding-bottom: 10px;
    }



/*=== BEGIN GLOBAL MEDIA QUERIES ===*/

/* Smallest devices (phone, 768px and below) */
@media (max-width: 768px) {
    
    aside {
        transition:         all .3s linear;
    }
    
        form.county-select {
            @include span-columns(12);
        }
    
            form.county-select > select {
                @include span-columns(12);
            }

            form.county-select > .submit.btn {
                display:    block;
                max-width:      100%;
            }
    
    .results {
        text-align:     center;
    }
    
        .results img { /* hides image of mco region for smallest screen sizes */
            display:    none;
        }
        
        .results .name {
            margin-bottom:  40px;
        }

        .results .phone,
        .results .website {
            margin-bottom:     20px;
        }
    
}

/* Small devices (tablets, 768px to 992px) */ 
@media (min-width: 768px) and (max-width: 992px) {


}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1200px) {
    
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    
}