/*=== SYSTEM ROW ===*/

.system.row {
    background:     $darkGray;
}

    .system img { /* centers, encircles, and adds white backdrop to images */
        display:        block;
        background:     white;
        border-radius:  50%;
        padding:        20px;
        @include size(300px);
        margin-left:    auto;
        margin-right:   auto;
        margin-bottom:  20px;
    }

    .system p,
    .system h2,
    .system h3 {
        color:          white;
    }

    .system p {
        text-align:     justify;
    }

    .system a {
        color:          $outrageousOrange;
    }

        .system a:hover {
            color:      darken($outrageousOrange, 10%);
        }


/*=== BEGIN SYSTEM ROW MEDIA QUERIES ===*/

/* Smallest devices (phone, 768px and below) */
@media (max-width: 768px) {
    
    .system p {
        text-align: left;
    }
    
    .system img {
        float:      none;
        @include size(240px);
        //margin:     $defaultMargin/4;
    }
}

/* Small devices (tablets, 768px to 992px) */ 
@media (min-width: 768px) and (max-width: 992px) {
    
    .system p {
        text-align: left;
    }
    
    .system img {
        float:      right !important; /* overrides float behavior for both img elements */
        margin:     $defaultMargin/2;
    }

}

/* Medium devices and up (greater than 992px!) */
@media (min-width: 992px) {
    
    .system img {
        margin:     $defaultMargin/2;
    }
    
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1200px) {
    
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    
}