/*=== TREATMENT ROW ===*/

.treatment.row {
    
}
    .treatment.row .col-span-8 {
        @include span-columns(12);
    }

        dl {
    
        }
            
            dl img {
                display:            inline-block;
                float:              left;
                margin-right:       20px;
                @include size(150px);
                background-size:    cover;
            }

            dt {
                font-size:      1.25em;
                text-transform: uppercase;
                color:          $outrageousOrange;
                padding-left:   $defaultMargin/1.5;
                margin-top:     $defaultMargin;
                margin-left:    $defaultPadding*2;
                border-left:    solid 2px $deYork;
            }

            dd {
                display:        block;
                color:          lighten($darkGray, 40%);
                padding-left:   $defaultMargin/1.5;
                font-size:      1.5em;
                margin-left:    $defaultPadding*2;
                margin-bottom:  $defaultMargin;
                font-family:    $secondaryFontStack;
                border-left:    solid 2px $deYork;
            }

    .treatment.row aside {
        @include span-columns(4);
        padding:    $defaultPadding/4 0 0 0;
    }

        .treatment.row aside h4 {
            color:          white;
            padding-top:    $defaultPadding/4;
            padding-bottom: $defaultPadding/8;
            text-align:     center;
        }

        aside ul li {
            font-family:        $secondaryFontStack;
            font-size:          1.2em;
            text-transform:     uppercase;
            list-style:         none;
            margin-left:        0px; /* aligns list left with container */
        }

        aside ul li a {
            @include float();
            display:            block;
            width:              100%;
            padding:    $defaultPadding/8 $defaultPadding/4 $defaultPadding/8 $defaultPadding/2;
            background:         url(/images/rightarrow.svg) no-repeat 5% center;
            background-size:    28px 28px;
        }

            aside ul li a:hover {
                @include sink();
                color:                  white;
                background-color:       darken($deYork, 5%);
                transition:             all .5s ease;
                
            }

/*=== BEGIN GLOBAL MEDIA QUERIES ===*/

/* Even smaller devices! (phones 475px and below) */
@media (max-width: 475px) {
    
    dl img {
        padding:        0px $defaultPadding/2 0px $defaultPadding/2; 
        @include size(100%);
    }
    
}

/* Between the two... (phones between 475px and 768px) */
@media (min-width: 475px) and (max-width: 768px) {
    
     dl img {
        @include size(30%);
    }
    
}

/* Smallest devices (phone, 768px and below) */
@media (max-width: 768px) {
    
    .treatment.row .col-span-8 {
        text-align:     left;
    }
    
    h4 {
        
    }
    
    dl img {
        margin-top:     $defaultMargin/2;
    }
    
    dd,
    dt {
        @include span-columns(12);
        padding-left:   0px;
        margin-left:    0px;
        border-left:    0px;
    }
    
    dt {
        margin-top:     20px;
        border-top:     solid 2px $deYork;
        padding-top:    20px;
    }
    
    dd {
        font-size:      17px;
        line-height:    150%;
        margin-bottom:  0px;
    }
}

/* Small devices (tablets, 768px to 992px) */ 
@media (min-width: 768px) and (max-width: 992px) {

    
 
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1200px) {
    
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    
}